<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <title>OI JOSUKE!</title>
    <style>
      body {background-color: #abcdef;}
      img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #406869;
  width: 15%;
}
p {
  text-align: center;
  padding: 0 10px;
  color: black;
  font-family: verdana;
  font-size: 150%;
  display: inline-block;
  list-style-type: none;
}
    </style>
  </head>
  <body>
    <h1>OI JOSUKE!</h1>
    <img src="public/images/Okuyasu_Nijimura.jpg" alt="Okuyasu">
    <p>I used The Hand to erase this webpage, and now it gives people errors! Ain't that wacky!?</p>
    <p>Error 404: Page not found, Check the URL to make sure nothing is spelled incorrectly.</p>
  </body>
</html>
