<!DOCTYPE html>
<style media="screen">
body {
background-color: black;
color: #39FF14;
}

h1 {
background-color: black;
color: #39FF14;
}

div {
background-color: black;
color: white;
}
#submit{
  background-color: black;
  border-color: #39FF14;
  color: #39FF14;
  display: inline-block;
}
</style>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Cleared</h1>

    <button type="button" name="button" id="submit"><a id="submit" href="/">Go Back</a></button>
  </body>
</html>
