<!DOCTYPE html>
<style media="screen">
body {
background-color: grey;
color: black;
}

h1 {
background-color: grey;
color: black;
}

div {
background-color: black;
color: white;
}
</style>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Cleared</h1>

    <button type="button" name="button"><a href="/">Go Back</a></button>
  </body>
</html>
