<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create DocPac Entries</title>
    <style>
      input[placeholder="Type"], input[name="date"] {
        width: 75px;
      }
    </style>
  </head>
  <body>
    <form action="POST">
      <h1>Create DocPac Entries</h1>

      <h2>Date</h2>
      <input type="text" name="date">

      <h2>Changes</h2>
      <input type="text" name="changesType" placeholder="Type">
      <input type="text" name="changes">

      <h2>Events</h2>
      <input type="text" name="eventsType" placeholder="Type">
      <input type="text" name="events">

      <h2>Goals</h2>
      <input type="text" name="goalsType" placeholder="Type">
      <input type="text" name="goals">

      <h2>Included documentation</h2>
      <input type="text" name="includedType" placeholder="Type">
      <input type="text" name="included">

      <h2>Required documentation</h2>
      <input type="text" name="requiredType" placeholder="Type">
      <input type="text" name="required">
      <br><br>

      <input type="submit">
    </form>
  </body>
</html>
