<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/create" method="post">
      Date: <br>
      <input type="text" name="dateBox"> <br>
      Goals: <br>
      <input type="text" name="goalBox"> <br>
      Included Documentation: <br>
      Type
      <input type="text" name="incdocType">
      Assingment Name
      <input type="text" name="incdocBox"> <br>
      Required Documentation: <br>
      Type
      <input type="text" name="reqdocType">
      Assingment Name
      <input type="text" name="reqdocBox"> <br>
      Changes: <br>
      <input type="text" name="changeBox"> <br>
      Events: <br>
      Event Date
      <input type="text" name="eventDate">
      Type
      <input type="text" name="eventType">
      Event
      <input type="text" name="eventBox"> <br>
      <input type="submit" name="" value="Add">
    </form>
  </body>
</html>
