<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <label for="cars">Choose a car:</label>
    <form class="" action="search" method="post">

    <select id="cars" name="category">
      <option value="changes">Changes</option>
      <option value="events">Events</option>
      <option value="goals">Goals</option>
      <option value="requiredDocumentation">Required</option>
      <option value="includedDocumentation">Included</option>
   <input type="submit" name="" value="submit">
    </select>
  </form>
  </body>
</html>
