<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Must Reload Next Page to see Info</h1>
    <h1>Must be lowercase</h2>
    <form action="/" method="post">
      <p1>Docpac Search</p1>
      <br>
      <br>
      <!-- Docpac Date?: <input type="text" name="date"> (MMMDD)
      <br>
      <br> -->
      Info: <input type="text" name="info"> (Changes, Events, Goals, Included, Required)
      <br>
      <br>
      <input type="submit" name="Submit" value="Submit">
    </form>
    <form action="/cleared" method="post">
      <input type="submit" name="Clear Cache" value="Clear Cache">
    </form>
    <div class="items">
    </div>
  </body>
</html>
