<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="/css/styleIndex.css" rel="stylesheet">
  </head>
  <body>
    <header>
    <h1>DocPac Digital Database</h1>
    </header>
    <div class="centerAll">
      <label for="category">Choose a category:</label>
      <form class="" action="search" method="post">

        <select id="category" name="category">
          <option value="changes">Changes</option>
          <option value="events">Events</option>
          <option value="goals">Goals</option>
          <option value="includedDocumentation">Included documentation</option>
          <option value="requiredDocumentation">Required documentation</option>
          <input type="submit" name="" value="Go To Data">
        </select>
      </form>

    </div>
<div class="create">
  <form action="http://localhost:5600/create">
    <input type="submit" value="Create A DocPac" />
  </form>
</div>
  </body>
</html>
