<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="info">
    <div class="date">
      Docpac Date: <% docpacDate.type %>
    </div>
  </div>
</body>

</html>
