<!DOCTYPE html>
<style media="screen">
body {
background-color: grey;
color: black;
}

h1 {
background-color: grey;
color: black;
}

div {
background-color: black;
color: white;
}
</style>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<h1>Insert Docpacs</h1>

<body>
  <form action="/insert" method="post">
    Date:
    <input type="text" name="date">
    <br>
    <br>
    Goals:
    <input type="text" name="goals" value="">
    <br>
    <br>
    Changes:
    <input type="text" name="changes" value="">
    <br>
    <br>
    Events:
    <br>
    <br>
    Event Date: <input type="text" name="event" value="">
    <br>
    Type: <input type="text" name="event_type" value="">
    <br>
    Text: <input type="text" name="event_text" value="">
    <br>
    <br>
    Included Documentation:
    <br>
    <br>
    Type: <input type="text" name="included_type" value="">
    <br>
    Text: <input type="text" name="included_text" value="">
    <br>
    <br>
    Required Documentation:
    <br>
    <br>
    Type: <input type="text" name="required_type" value="">
    <br>
    Text: <input type="text" name="required_text" value="">
    <br>
    <br>
    <input type="submit" name="Submit" value="Submit" id="submit">
  </form>

</body>

</html>
