<!DOCTYPE html>
<style media="screen">
body {
background-color: grey;
color: black;
}

h1 {
background-color: grey;
color: black;
}

div {
background-color: black;
color: white;
}
</style>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%-mainbody%>
  </body>
</html>
