<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <h1> DOCCLE </h1>
  <body>
    <form action="/" method="post">
      <input type="text" name="search">
      <input type="submit" name="" value="submit">

    </form>
    <%=error%>
  </body>
</html>
