<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Order</title>
  </head>
  <body>
    <h1>New Order</h1>
    <p>Thank you for choosing Worse Company Delivery Service. Please input the following information to create a new order.</p>
    <div class="newOrderInfo">
      <input type="text" name="Name" value="">
      <input type="text" name="Address" value="">
      <input type="submit" name="Submit" value="Submit">
    </div>
    <p style= "font-style: italic;" >ⒸWorse Company 2022</p>
  </body>
</html>
