<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Order</title>
  </head>
  <body>
    <h1>New Order</h1>
    <p>Thank you for choosing Worse Company Delivery Service. Please input the following information to create a new order.</p>
    <div class="newOrderInfo">
      <form class="" action="/neworder" method="post">
        <input type="text" name="customername" value="" placeholder="Name">
        <input type="text" name="customeraddress" value="" placeholder="Address">
        <input type="submit" name="Submit" value="Submit">
      </form>

    </div>
    <p style= "font-style: italic;" >ⒸWorse Company 2022</p>
  </body>
</html>
