<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<form class="" action="/additem" method="post">
  <input type="text" name="orderNumber" value="" placeholder="Order Number">
  <input type="text" name="itemName" value="" placeholder="Item Name">
  <input type="text" name="quantity" value="" placeholder="Quantity">
  <input type="text" name="price" value="" placeholder="Price">
  <input type="submit" name="" value="submit">
</form>
  </body>
</html>
