<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><%- sent -%></p>


  <a href="http://localhost:9000">go back to home page</a>

  <a href="http://localhost:9000/additem">go back to item creation</a>

  </body>
</html>
