<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="links">
      <p class="link" style="font-size: 20px;"><a href="http://localhost:3000/">Home</a></p>
      <p class="link" style="font-size: 20px;"><a href="http://localhost:3000/view">Views</a></p>
    </div>
    <script type="text/javascript">
    <% if(orders = null){ %>
      <h1>"No Orders Yet"</h1>
    <% } %>
    </script>
  </body>
</html>
