<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <form action="addItem" method="post">
    Order Number: <br>
    <input type="text" name="orderNumber" value="">
    <br>
    <br>
    Item Name: <br>
    <input type="text" name="itemName" value="">
    <br>
    <br>
    Quantity: <br>
    <input type="text" name="quantity" value="">
    <br>
    <br>
    Price: <br>
    <input type="text" name="price" value="">
    <br>
    <br>
    <button type="submit" name="button">Submit</button>
  </form>
</body>

</html>
