<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>

<body>
  <form action="addItem" method="post">
    <p1>Order Number:</p1> <br>
    <input type="text" name="orderNumber" value="">
    <br>
    <br>
    <p1>Item Name:</p1> <br>
    <input type="text" name="itemName" value="">
    <br>
    <br>
    <p1>Quantity:</p1> <br>
    <input type="text" name="quantity" value="">
    <br>
    <br>
    <p1>Price:</p1> <br>
    <input type="text" name="price" value="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button type="submit" name="button" id="button">Submit</button>
  </form>
</body>

</html>
