<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
  </head>
  <body>
    <h3>New Order:</h3><button type="button" name="newOrder" id="button"><a href="newOrder"id="button">New Order</a></button>
    <h3>Add Item:</h3><button type="button" name="addItem" id="button"><a href="addItem"id="button">Add Item</a></button>
    <h3>View Orders:</h3><button type="button" name="view" id="button"><a href="view"id="button">View Orders</a></button>
  </body>
</html>
