<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>New Order:</h3><button type="button" name="newOrder"><a href="newOrder">New Order</a></button>
    <h3>Add Item:</h3><button type="button" name="addItem"><a href="addItem">Add Item</a></button>
    <h3>View Orders:</h3><button type="button" name="view"><a href="view">View Orders</a></button>
  </body>
</html>
