<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="newOrder" method="post">
      Customer Name: <br>
      <input type="text" name="custName" value="">
      <br>
      <br>
      Customer Address: <br>
      <input type="text" name="custAdd" value="">
      <br>
      <br>
      <button type="submit" name="button">Submit</button>
    </form>
    <%-mainbody%>
    <h3>Add Items:</h3><button type="button" name="addItem"><a href="additem">Add Items</a></button>
  </body>
</html>
