<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
  </head>
  <body>
    <form action="newOrder" method="post">
      <div class="outer">
        <div class="inner">
          <p1>Customer Name:</p1>

        </div>
        <div class="inner">
          <input type="text" name="custName" value="">

        </div>
    </div>
      <div class="outer">
        <div class="inner">
          <p1>Customer Address:</p1>

        </div>
        <div class="inner">
          <input type="text" name="custAdd" value="">

        </div>
      </div>
        <div class="outer">
          <div class="inner">
            <button type="submit" name="button"id="button">Submit</button>

          </div>
        </div>
      <div class="outer">
        <div class="inner">
          <h3> <%-mainbody%> </h3>
          <p1>Add Items:</p1>

        </div>
        <div class="inner">
          <button type="button" name="addItem" id="button"><a href="additem" id="button">Add Items</a></button>

        </div>
      </div>
      <div class="outer">
        <div class="inner">
          <p1>Return:</p1>

        </div>
        <div class="inner">
          <button type="button" name="addItem" id="button"><a href="/" id="button">Return</a></button>

        </div>
      </div>
    </form>
  </body>
</html>
