<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SQL DataBase</title>
  </head>
  <body>
    <form class=""  method="post">
      <input type="text" name="Name" value="">
      <input type="text" name="Age" value="">
      <input type="text" name="PerInfo" value="">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
