<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SQL DataBase</title>
  </head>
  <body>
    <form class=""  method="post">
      <input type="text" name="Name" placeholder="Name"><br>
      <input type="text" name="Age" placeholder="Age"><br>
      <input type="text" name="PerInfo" placeholder="Tell me about yourself"><br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
