<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Item</title>
  </head>
  <body>
    <form>
      <input type="text" placeholder="order number"> <br>
      <input type="text" placeholder="order name"><br>
      <input type="text" placeholder="quentity"><br>
      <input type="text" placeholder="price">
    </form>
  </body>
</html>
