<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Item</title>
  </head>
  <body>

    <form action="/" method="get">
      <input type="submit" name="" value="Home">
    </form>

    <form action="/additem" method="post">
      <input type="text" name="orderNumber" placeholder="put order number here"><br>
      <input type="text" name="itemName" placeholder="put item name here"> <br>
      <input type="text" name="quantity" placeholder="put the quantity of your item here"> <br>
      <input type="text" name="price" placeholder="put the price of your item here"> <br>
      <input type="submit" name="submit" value="submit">
    </form>

    <%=error%>

  </body>
</html>
