<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Orders</title>
  </head>
  <body>
<form class="" action="index.ejs" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="address" rows="4" cols="40" >
  <input type="submit" name="" value="">
</form>
  </body>
</html>
