<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

<form  action="/neworder" method="get">
  <input type="submit" name="" value="Create Order">
</form>

<form action="/additem" method="get">
<input type="submit" name="" value="Add Item">
</form>

<form action="/view" method="get">
  <input type="submit" name="" value="View Orders">
</form>

  </body>
</html>
