<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Order</title>
  </head>
  <body>
<form action="/neworder" method="post">
  <input type="text" name="cName" placeholder="Your Name...">
  <br>
  <input type="text" name="cAddress" placeholder="Your Address">
  <br>
  <input type="submit" name="" value="Send Order">
</form>
<br>
<%=error%>
<br>

  </body>

</html>
