<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Order</title>
  </head>
  <body>
<form class="New order" action="index.html" method="post">
  <input type="text" name="Customer name" value="" placeholder="Enter name here...">
  <input type="text" name="Customer address" value="" placeholder="Enter address here...">
<input type="submit" name="" value="submit">
</form>
  </body>
</html>
